In [3]:
import pandas as pd
import json
import numpy as np
from sqlalchemy import create_engine, text

pd.options.display.max_columns = None

class StopExecution(Exception):
    def _render_traceback_(self):
        pass

In [4]:
engine_omop = create_engine('postgresql://mimic_v531:i3lworks@postgresql.icl.gtri.org:5432/mimiciv_v54')
engine_mimic_src = create_engine('postgresql://mimic_v531:i3lworks@postgresql.icl.gtri.org:5432/mimiciv')

results_list = []
with engine_omop.connect() as conn:
    person_df = pd.read_sql(text('SELECT DISTINCT p.person_id, person_source_value FROM measurement LEFT JOIN person p on measurement.person_id = p.person_id WHERE measurement_concept_id IN (3015378, 3019832)'), con=conn)
    for person_id in person_df.person_id:
        tmp_df = pd.read_sql(text(f'''SELECT '{person_id}' as person_id, 'condition_occurrence' as table_name, COUNT(*) as rows 
                                     FROM condition_occurrence WHERE person_id = {person_id}
                                     UNION 
                                     SELECT '{person_id}' as person_id, 'drug_exposure' as table_name, COUNT(*) as rows 
                                     FROM drug_exposure WHERE person_id = {person_id}
                                     UNION
                                     SELECT '{person_id}' as person_id, 'measurement' as table_name, COUNT(*) as rows
                                     FROM measurement WHERE person_id = {person_id}'''), con=conn)
        results_list.append(tmp_df.values.tolist())
results_df = pd.DataFrame([item for sublist in results_list for item in sublist], columns=['person_id', 'table_name', 'count'])
results_df = results_df.astype({'person_id': int})
results_df = results_df.merge(person_df, on='person_id')
results_df

      person_id            table_name  count person_source_value
0         11852  condition_occurrence      0            10819244
1         11852         drug_exposure     14            10819244
2         11852           measurement    162            10819244
3        114188           measurement   1194            12537731
4        114188         drug_exposure     87            12537731
...         ...                   ...    ...                 ...
3946     183961  condition_occurrence    688            18104767
3947     183961           measurement  12224            18104767
3948     202644           measurement  23678            10628370
3949     202644  condition_occurrence    830            10628370
3950     202644         drug_exposure   1255            10628370

[3951 rows x 4 columns]

## Lab Events to Measurements

In [183]:
measurement_subject_ids = list(results_df[(results_df.table_name == 'measurement') & (results_df['count'] == 0)].person_source_value)
if not measurement_subject_ids:
    print('No measurements to retrieve')
    raise StopExecution
with engine_mimic_src.connect() as conn:
    list_of_subject_ids = ', '.join(measurement_subject_ids)
    labevents = pd.read_sql(text(f"SELECT * FROM mimiciv_hosp.src_labevents WHERE subject_id IN ({list_of_subject_ids})"), con=conn)
labitem_map_df = pd.read_csv('../crosswalk_csv/d_labitems_to_loinc.csv')
labitem_mapping_dict = {}
for item in labevents.itemid.unique():
    try:
        omop_concept_id = list(labitem_map_df[labitem_map_df['itemid (omop_source_code)']==int(item)].omop_concept_id)[0]
        if pd.isna(omop_concept_id):
            labitem_mapping_dict[item] = 0 
        else:
            labitem_mapping_dict[item] = omop_concept_id
    except IndexError:
        labitem_mapping_dict[item] = 0
labevents

No measurements to retrieve

In [52]:
start_measurement_id = 121621210
measurement_df = pd.DataFrame(columns=['measurement_id', 'person_id', 'measurement_concept_id', 'measurement_date', 'measurement_datetime', 'measurement_time', 'measurement_type_concept_id', 'operator_concept_id', 'value_as_number', 'value_as_concept_id', 'unit_concept_id', 'range_low', 'range_high', 'provider_id', 'visit_occurrence_id', 'visit_detail_id', 'measurement_source_value', 'measurement_source_concept_id', 'unit_source_value', 'unit_source_concept_id', 'value_source_value', 'measurement_event_id', 'meas_event_field_concept_id'])
measurement_df.measurement_id = range(start_measurement_id, start_measurement_id+labevents.shape[0])
measurement_df.person_id = [list(results_df[results_df.person_source_value == x].person_id)[0] for x in labevents.subject_id]
measurement_df.measurement_concept_id = labevents.itemid.replace(labitem_mapping_dict)
measurement_df.measurement_date = pd.to_datetime(labevents.charttime).dt.date
measurement_df.measurement_datetime = pd.to_datetime(labevents.charttime)
measurement_df.measurement_time = pd.to_datetime(labevents.charttime).dt.time
measurement_df.measurement_type_concept_id = 32856
measurement_df.value_as_number = labevents.valuenum
measurement_df.unit_concept_id = labevents.valueuom.replace({'mmol/L': 4121402, 'K/uL': 8848, '%': 8554, 'g/dL': 4121395, 'pg': 4121364, 'fL': 4121384, 'm/uL': 8815, 
                                                             'mEq/L': 4117806, 'mg/L': 4122414, 'IU/L': 4118133, 'mg/dL': 4121396, '#/uL': 8784, 'Ratio': 8523, 'sec': 8555})
measurement_df.unit_concept_id = [int(x) if not pd.isna(x) else None for x in measurement_df.unit_concept_id]
measurement_df.range_low = labevents.ref_range_lower
measurement_df.range_high = labevents.ref_range_upper
measurement_df.measurement_source_value = labevents.itemid
measurement_df.value_source_value = labevents.value
measurement_df.unit_source_value = labevents.valueuom
measurement_df

,measurement_id,person_id,measurement_concept_id,measurement_date,measurement_datetime,measurement_time,measurement_type_concept_id,operator_concept_id,value_as_number,value_as_concept_id,unit_concept_id,range_low,range_high,provider_id,visit_occurrence_id,visit_detail_id,measurement_source_value,measurement_source_concept_id,unit_source_value,unit_source_concept_id,value_source_value,measurement_event_id,meas_event_field_concept_id
0,121621210,259296,0,2178-05-27,2178-05-27 20:50:00,20:50:00,32856,NaN,-433.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,52007,NaN,NaN,NaN,-433,NaN,NaN
1,121621211,259296,0,2178-05-27,2178-05-27 20:50:00,20:50:00,32856,NaN,575.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,52008,NaN,NaN,NaN,575,NaN,NaN
2,121621212,259296,0,2178-05-27,2178-05-27 20:50:00,20:50:00,32856,NaN,-65.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,52009,NaN,NaN,NaN,-65,NaN,NaN
3,121621213,259296,0,2178-05-27,2178-05-27 20:50:00,20:50:00,32856,NaN,-464.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,52010,NaN,NaN,NaN,-464,NaN,NaN
4,121621214,259296,3047181,2177-12-18,2177-12-18 16:09:00,16:09:00,32856,NaN,1.8,NaN,4121402.0,0.5,2.0,NaN,NaN,NaN,50813,NaN,mmol/L,NaN,___,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
152,121621362,259296,3013682,2178-05-28,2178-05-28 04:50:00,04:50:00,32856,NaN,12.0,NaN,4121396.0,6.0,20.0,NaN,NaN,NaN,51006,NaN,mg/dL,NaN,12,NaN,NaN
153,121621363,259296,0,2178-05-28,2178-05-28 04:50:00,04:50:00,32856,NaN,3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,51678,NaN,NaN,NaN,3,NaN,NaN
154,121621364,259296,3022217,2178-05-28,2178-05-28 04:50:00,04:50:00,32856,NaN,1.0,NaN,NaN,0.9,1.1,NaN,NaN,NaN,51237,NaN,NaN,NaN,1.0,NaN,NaN
155,121621365,259296,3034426,2178-05-28,2178-05-28 04:50:00,04:50:00,32856,NaN,10.8,NaN,8555.0,9.4,12.5,NaN,NaN,NaN,51274,NaN,sec,NaN,10.8,NaN,NaN
156,121621366,259296,3018677,2178-05-28,2178-05-28 04:50:00,04:50:00,32856,NaN,27.4,NaN,8555.0,25.0,36.5,NaN,NaN,NaN,51275,NaN,sec,NaN,27.4,NaN,NaN

In [53]:
measurement_df.to_csv('measurement_df.csv', index=False)

## Pharmacy to Drug Exposure

In [208]:
pharm_route_mapping = {}
ndc_medication_mapping = {}
drug_subject_ids = list(results_df[(results_df.table_name == 'drug_exposure') & (results_df['count'] == 0)].person_source_value)
if not drug_subject_ids:
    print('No drug exposures to retrieve')
    raise StopExecution

with engine_mimic_src.connect() as conn:
    list_of_subject_ids = ', '.join(drug_subject_ids)
    pharmacy = pd.read_sql(text(f"SELECT pharm.*, presc.ndc FROM mimiciv_hosp.src_pharmacy pharm LEFT JOIN mimiciv_hosp.src_prescriptions presc ON pharm.pharmacy_id=presc.pharmacy_id WHERE pharm.subject_id IN ({list_of_subject_ids})"), con=conn)

with engine_omop.connect() as conn:
    for route in pharmacy.route.unique():
        try:
            omop_concept_id = list(conn.execute(text(f"SELECT concept_id FROM concept WHERE concept_code = '{route}'")))[0][0]
            mapped_concept_id = list(conn.execute(text(f"SELECT concept_id_2 FROM concept_relationship WHERE concept_id_1 = {omop_concept_id}")))[0][0]
        except IndexError:
            mapped_concept_id = 0
        pharm_route_mapping[route] = mapped_concept_id
    
    for ndc_code in pharmacy.ndc.unique():
        try:
            omop_concept_id = list(conn.execute(text(f"SELECT concept_id FROM concept WHERE vocabulary_id = 'NDC' AND concept_code = '{ndc_code}'")))[0][0]
        except IndexError:
            omop_concept_id = 0
        ndc_medication_mapping[ndc_code] = mapped_concept_id

pharmacy.head()

,subject_id,hadm_id,pharmacy_id,poe_id,starttime,stoptime,medication,proc_type,status,entertime,verifiedtime,route,frequency,disp_sched,infusion_type,sliding_scale,lockout_interval,basal_rate,one_hr_max,doses_per_24_hrs,duration,duration_interval,expiration_value,expiration_unit,expirationdate,dispensation,fill_quantity,load_table_id,load_row_id,trace_id,ndc
0,10011427,22216667,78247935,10011427-512,2136-01-15 15:00:00,2136-02-12 21:00:00,Lidocaine Viscous 2%,Unit Dose,Discontinued via patient discharge,2136-01-15 14:34:29,2136-01-15 14:34:29,PO,TID:PRN,None,None,None,None,NaN,None,0.0,NaN,Ongoing,365.0,Days,NaT,Omnicell,None,pharmacy,bfedc24d4568013fd3c561418bee1e4c,"{""pharmacy_id"" : 78247935}",50383077517
1,10030863,23164186,52897938,10030863-28,2184-06-10 10:00:00,2184-06-10 19:00:00,Atenolol,Unit Dose,Discontinued,2184-06-10 17:22:44,2184-06-10 17:22:44,PO,DAILY,10,None,None,None,NaN,None,1.0,NaN,Ongoing,36.0,Hours,NaT,OmniCell,None,pharmacy,a94fc7c4ef0052797444e7590f55a690,"{""pharmacy_id"" : 52897938}",00591577710
2,10133363,25489216,54225898,10133363-645,2113-05-02 23:00:00,2113-05-04 18:00:00,HYDROmorphone (Dilaudid),Unit Dose,Inactive (Due to a change order),2113-05-02 22:12:29,2113-05-02 22:12:29,PO/NG,Q6H:PRN,None,None,None,6,0.0,None,NaN,NaN,Ongoing,365.0,Days,NaT,Omnicell,None,pharmacy,2da3c0cbaf45a017b83ff34c12db00fc,"{""pharmacy_id"" : 54225898}",68084042301
3,10249699,24955103,41655801,10249699-147,2167-03-25 17:00:00,2167-03-26 00:00:00,Albumin 25% (12.5g / 50mL),Unit Dose,Discontinued,2167-03-25 16:19:18,2167-03-25 16:19:18,IV,ONCE,17,None,None,None,NaN,None,1.0,1.0,Doses,365.0,Days,NaT,Omnicell,None,pharmacy,5d1eccd4ee97b716f8d347f3bc770bc3,"{""pharmacy_id"" : 41655801}",00944049302
4,10310675,23802458,37883157,10310675-257,2167-09-26 10:00:00,2167-10-02 22:00:00,OxyCODONE (Immediate Release),Unit Dose,Inactive (Due to a change order),2167-09-26 09:21:20,2167-09-26 09:21:20,PO/NG,Q6H:PRN,None,None,None,None,NaN,None,NaN,NaN,Ongoing,365.0,Days,NaT,Omnicell,None,pharmacy,7679265e1081901e94ba628c9c92b521,"{""pharmacy_id"" : 37883157}",00406055262

In [214]:
first_drug_exp_id = 2943845
drug_exp = pd.DataFrame(columns=['drug_exposure_id', 'person_id', 'drug_concept_id', 'drug_exposure_start_date', 'drug_exposure_start_datetime', 'drug_exposure_end_date', 'drug_exposure_end_datetime', 'verbatim_end_date', 'drug_type_concept_id', 'stop_reason', 'refills', 'quantity', 'days_supply', 'sig', 'route_concept_id', 'lot_number', 'provider_id', 'visit_occurrence_id', 'visit_detail_id', 'drug_source_value', 'drug_source_concept_id', 'route_source_value', 'dose_unit_source_value'])
drug_exp.drug_exposure_id = range(first_drug_exp_id, first_drug_exp_id+len(pharmacy.index))
drug_exp.person_id = [list(results_df[results_df.person_source_value == str(x)].person_id)[0] for x in pharmacy.subject_id]
drug_exp.drug_concept_id = pharmacy.ndc.replace(ndc_medication_mapping)
drug_exp.drug_exposure_start_date = pd.to_datetime(pharmacy.starttime).dt.date
drug_exp.drug_exposure_start_datetime = pd.to_datetime(pharmacy.starttime)
drug_exp.drug_exposure_end_date = pd.to_datetime(pharmacy.stoptime).dt.date
drug_exp.drug_exposure_end_datetime = pd.to_datetime(pharmacy.stoptime)
drug_exp.drug_type_concept_id = 32838
drug_exp.quantity = pharmacy.doses_per_24_hrs
drug_exp.route_concept_id = pharmacy.route.replace(pharm_route_mapping)
drug_exp.drug_source_value = pharmacy.medication
drug_exp.route_source_value = pharmacy.route

drug_exp.head()

,drug_exposure_id,person_id,drug_concept_id,drug_exposure_start_date,drug_exposure_start_datetime,drug_exposure_end_date,drug_exposure_end_datetime,verbatim_end_date,drug_type_concept_id,stop_reason,refills,quantity,days_supply,sig,route_concept_id,lot_number,provider_id,visit_occurrence_id,visit_detail_id,drug_source_value,drug_source_concept_id,route_source_value,dose_unit_source_value
0,2943845,56489,45069120,2136-01-15,2136-01-15 15:00:00,2136-02-12,2136-02-12 21:00:00,NaN,32838,NaN,NaN,0.0,NaN,NaN,4132161,NaN,NaN,NaN,NaN,Lidocaine Viscous 2%,NaN,PO,NaN
1,2943846,104408,45130493,2184-06-10,2184-06-10 10:00:00,2184-06-10,2184-06-10 19:00:00,NaN,32838,NaN,NaN,1.0,NaN,NaN,4132161,NaN,NaN,NaN,NaN,Atenolol,NaN,PO,NaN
2,2943847,56963,44990415,2113-05-02,2113-05-02 23:00:00,2113-05-04,2113-05-04 18:00:00,NaN,32838,NaN,NaN,NaN,NaN,NaN,4167540,NaN,NaN,NaN,NaN,HYDROmorphone (Dilaudid),NaN,PO/NG,NaN
3,2943848,9633,45029549,2167-03-25,2167-03-25 17:00:00,2167-03-26,2167-03-26 00:00:00,NaN,32838,NaN,NaN,1.0,NaN,NaN,4171047,NaN,NaN,NaN,NaN,Albumin 25% (12.5g / 50mL),NaN,IV,NaN
4,2943849,57645,45266765,2167-09-26,2167-09-26 10:00:00,2167-10-02,2167-10-02 22:00:00,NaN,32838,NaN,NaN,NaN,NaN,NaN,4167540,NaN,NaN,NaN,NaN,OxyCODONE (Immediate Release),NaN,PO/NG,NaN

In [215]:
drug_exp.to_csv('drug_exposure.csv', index=False)

## Condition Tables to Condition Occurrence

In [6]:
condition_subject_ids = list(results_df[(results_df.table_name == 'condition_occurrence') & (results_df['count'] == 0)].person_source_value)
if not condition_subject_ids:
    print('No conditions to retrieve')
    raise StopExecution

with engine_mimic_src.connect() as conn:
    list_of_subject_ids = ', '.join(condition_subject_ids)
    condition_src = pd.read_sql(text(f'''SELECT
                                            dicd.*,
                                            COALESCE(adm.edregtime, adm.admittime) as starttime,
                                            COALESCE(adm.edouttime, adm.dischtime) as endtime
                                        FROM mimiciv_hosp.src_diagnoses_icd dicd
                                        LEFT JOIN mimiciv_hosp.src_admissions adm
                                            ON dicd.hadm_id = adm.hadm_id
                                        WHERE dicd.subject_id IN ({list_of_subject_ids})'''), con=conn)

icd_concept = pd.read_table('omopconcept_icd9icd10.csv')
icd_concept.concept_code = icd_concept.concept_code.str.replace('.', '')
condition_src = condition_src.applymap(lambda x: x.strip() if isinstance(x, str) else x)
condition_src

/var/folders/fq/k8z_0zxn4x5fhfr9_81sj7wsty93x8/T/ipykernel_21849/1155614509.py:17: DtypeWarning: Columns (6,9) have mixed types. Specify dtype option on import or set low_memory=False.
  icd_concept = pd.read_table('omopconcept_icd9icd10.csv')
/var/folders/fq/k8z_0zxn4x5fhfr9_81sj7wsty93x8/T/ipykernel_21849/1155614509.py:18: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  icd_concept.concept_code = icd_concept.concept_code.str.replace('.', '')

,subject_id,hadm_id,seq_num,icd_code,icd_version,load_table_id,load_row_id,trace_id,starttime,endtime
0,10121799,25295888,12,E039,10,diagnoses_icd,120756e305607d9f63d72e66badec78b,"{""hadm_id"" : 25295888, ""seq_num"" : 12}",2178-01-28 03:09:00,2178-01-28 14:57:00
1,10519676,22439561,1,K766,10,diagnoses_icd,8f71951f7bb893cfcd8fd36411b27bbb,"{""hadm_id"" : 22439561, ""seq_num"" : 1}",2139-03-23 21:27:00,2139-03-25 19:52:00
2,10519676,22439561,2,I81,10,diagnoses_icd,e3179e6964dd1dbc0fe6dae2c3764ba6,"{""hadm_id"" : 22439561, ""seq_num"" : 2}",2139-03-23 21:27:00,2139-03-25 19:52:00
3,10519676,22439561,3,R188,10,diagnoses_icd,7f31e2a931aece946307361333136151,"{""hadm_id"" : 22439561, ""seq_num"" : 3}",2139-03-23 21:27:00,2139-03-25 19:52:00
4,10519676,22439561,4,Q603,10,diagnoses_icd,2bc032b45745da147bf0380611d764a2,"{""hadm_id"" : 22439561, ""seq_num"" : 4}",2139-03-23 21:27:00,2139-03-25 19:52:00
...,...,...,...,...,...,...,...,...,...,...
20372,18252946,28517196,2,2449,9,diagnoses_icd,096f4c15472bd6709dd106c175b12f72,"{""hadm_id"" : 28517196, ""seq_num"" : 2}",2182-04-09 07:15:00,2182-04-10 17:35:00
20373,18252946,28517196,3,30285,9,diagnoses_icd,53b9fa9abc5a07833ad412ceb80fed8f,"{""hadm_id"" : 28517196, ""seq_num"" : 3}",2182-04-09 07:15:00,2182-04-10 17:35:00
20374,18252946,28517196,4,33829,9,diagnoses_icd,795fb72c9c05c21c41ff3c08f72f2ac1,"{""hadm_id"" : 28517196, ""seq_num"" : 4}",2182-04-09 07:15:00,2182-04-10 17:35:00
20375,18252946,28517196,5,32723,9,diagnoses_icd,6ef1ac6f0a9a2bf532acb74f71a4cca7,"{""hadm_id"" : 28517196, ""seq_num"" : 5}",2182-04-09 07:15:00,2182-04-10 17:35:00
20376,18252946,28517196,6,7291,9,diagnoses_icd,ff8152cf5f8beb9ebee4665bab5fcf7a,"{""hadm_id"" : 28517196, ""seq_num"" : 6}",2182-04-09 07:15:00,2182-04-10 17:35:00

In [7]:
icd_map_dict = {}
for item in condition_src.icd_code.unique():
    try:
        omop_concept_id = list(icd_concept[icd_concept.concept_code == item].concept_id)[0]
        icd_map_dict[item] = omop_concept_id
    except IndexError:
        icd_map_dict[item] = 0

In [8]:
start_condition_id = 3478182
condition_occurrence = pd.DataFrame(columns=['condition_occurrence_id', 'person_id', 'condition_concept_id', 'condition_start_date', 'condition_start_datetime', 'condition_end_date', 'condition_end_datetime', 'condition_type_concept_id', 'condition_status_concept_id', 'stop_reason', 'provider_id', 'visit_occurrence_id', 'visit_detail_id', 'condition_source_value', 'condition_source_concept_id', 'condition_status_source_value'])
condition_occurrence.condition_occurrence_id = range(start_condition_id, start_condition_id+len(condition_src.index))
condition_occurrence.person_id = [list(results_df[results_df.person_source_value == str(x)].person_id)[0] for x in condition_src.subject_id]
condition_occurrence.condition_concept_id = condition_src.icd_code.replace(icd_map_dict)
condition_occurrence.condition_start_date = pd.to_datetime(condition_src.starttime).dt.date
condition_occurrence.condition_start_datetime = pd.to_datetime(condition_src.starttime)
condition_occurrence.condition_end_date = pd.to_datetime(condition_src.endtime).dt.date
condition_occurrence.condition_end_datetime = pd.to_datetime(condition_src.endtime)
condition_occurrence.condition_type_concept_id = 32821
condition_occurrence.condition_source_value = condition_src.icd_code
condition_occurrence

,condition_occurrence_id,person_id,condition_concept_id,condition_start_date,condition_start_datetime,condition_end_date,condition_end_datetime,condition_type_concept_id,condition_status_concept_id,stop_reason,provider_id,visit_occurrence_id,visit_detail_id,condition_source_value,condition_source_concept_id,condition_status_source_value
0,3478182,152584,45537945,2178-01-28,2178-01-28 03:09:00,2178-01-28,2178-01-28 14:57:00,32821,NaN,NaN,NaN,NaN,NaN,E039,NaN,NaN
1,3478183,202205,45591608,2139-03-23,2139-03-23 21:27:00,2139-03-25,2139-03-25 19:52:00,32821,NaN,NaN,NaN,NaN,NaN,K766,NaN,NaN
2,3478184,202205,45543228,2139-03-23,2139-03-23 21:27:00,2139-03-25,2139-03-25 19:52:00,32821,NaN,NaN,NaN,NaN,NaN,I81,NaN,NaN
3,3478185,202205,45587499,2139-03-23,2139-03-23 21:27:00,2139-03-25,2139-03-25 19:52:00,32821,NaN,NaN,NaN,NaN,NaN,R188,NaN,NaN
4,3478186,202205,45577737,2139-03-23,2139-03-23 21:27:00,2139-03-25,2139-03-25 19:52:00,32821,NaN,NaN,NaN,NaN,NaN,Q603,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20372,3498554,41096,44828786,2182-04-09,2182-04-09 07:15:00,2182-04-10,2182-04-10 17:35:00,32821,NaN,NaN,NaN,NaN,NaN,2449,NaN,NaN
20373,3498555,41096,44832243,2182-04-09,2182-04-09 07:15:00,2182-04-10,2182-04-10 17:35:00,32821,NaN,NaN,NaN,NaN,NaN,30285,NaN,NaN
20374,3498556,41096,44834629,2182-04-09,2182-04-09 07:15:00,2182-04-10,2182-04-10 17:35:00,32821,NaN,NaN,NaN,NaN,NaN,33829,NaN,NaN
20375,3498557,41096,44825323,2182-04-09,2182-04-09 07:15:00,2182-04-10,2182-04-10 17:35:00,32821,NaN,NaN,NaN,NaN,NaN,32723,NaN,NaN
20376,3498558,41096,44831524,2182-04-09,2182-04-09 07:15:00,2182-04-10,2182-04-10 17:35:00,32821,NaN,NaN,NaN,NaN,NaN,7291,NaN,NaN

In [9]:
condition_occurrence.to_csv('condition_occurrence.csv', index=False)